<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <p>패스워드를 입력해주세요</p>
<form action="{% url 'edit_lost' lost_id %}">
    <input type="password" name="password">
    <input class="btn btn-dark" type="submit" value="수정하기">
</form>
</body>
</html>
<p>패스워드를 입력해주세요</p>
<form action="{% url 'edit_lost' lost_id %}">
    <input type="password" name="password">
    <input class="btn btn-dark" type="submit" value="수정하기">
</form>
