<!DOCTYPE html>
<html lang="en">




<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css">

    <!-- css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <!-- js -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <div>
        <h1>축제일정</h1>
        <h4>이미지를 누르면 자세한 정보가!</h4>
    </div>


    <div class="btn">
        <a href="#day14">
            <input type="button" class="btn-lg" value="14일">
        </a>
        <a href="#day15">
            <input type="button" class="btn-lg" value="15일">
        </a>
        <a href="#day1617">
            <input type="button" class="btn-lg" value="16~17일">
        </a>
    </div>
    <br>
    <br>

    <div class="main">
        <ul class="list">
            <li id="day14">14일 축제일정
                <div id="slider">
                    <ul class="slides">
                        <!-- 이 부분을 자신의 상황에 맞게 수정 -->
                        <!-- 5개의 이미지 목록으로 구성한 슬라이드를 만들고 싶다면, 목록 처음과 끝에 복사본을 붙여넣어야함 -->
                        <!-- 목록 처음에는 5번 이미지의 복사본을 붙여넣음  -->
                        <!-- 목록 끝에는 1번 이미지의 복사본을 붙여넣음  -->
                        <!-- 자세한 설명은 http://blog.naver.com/2woo30225/220838511483 에서 참고 -->
                        <li class="slide slide5">
                            <img src="https://scontent-icn1-1.xx.fbcdn.net/v/t1.0-9/59494647_735210583543127_786931514360201216_n.jpg?_nc_cat=108&_nc_ht=scontent-icn1-1.xx&oh=579238f85d5eaf6b1403e2ffc4db863c&oe=5D774A4F" alt="">
                        </li>
                        <li class="slide slide1">
                            <img src="https://scontent-icn1-1.xx.fbcdn.net/v/t1.0-9/58749278_734642853599900_925118698379804672_n.jpg?_nc_cat=102&_nc_ht=scontent-icn1-1.xx&oh=563d15b96ffc3861ca4b90f7ee90b852&oe=5D574533" alt="">
                        </li>
                        <li class="slide slide2">
                            <img src="https://scontent-icn1-1.xx.fbcdn.net/v/t1.0-9/58733052_735210556876463_3468693069459619840_n.jpg?_nc_cat=111&_nc_ht=scontent-icn1-1.xx&oh=a432ee18e85ca582f626cd3b48eafe08&oe=5D67253F" alt="">
                        </li>
                        <li class="slide slide3">
                            <img src="https://scontent-icn1-1.xx.fbcdn.net/v/t1.0-9/58680961_734642870266565_2049562396560719872_n.jpg?_nc_cat=111&_nc_ht=scontent-icn1-1.xx&oh=68c6e26785e4ab1f9db5e1ebaf7b4cb9&oe=5D75B671" alt="">
                        </li>
                        <li class="slide slide4">
                            <img src="https://scontent-icn1-1.xx.fbcdn.net/v/t1.0-9/58766044_735210550209797_8444741856759119872_n.jpg?_nc_cat=100&_nc_ht=scontent-icn1-1.xx&oh=a4a6ae9366e28aab866f17bf0056faf6&oe=5D2BE79E" alt="">
                        </li>
                        <li class="slide slide5">
                            <img src="https://scontent-icn1-1.xx.fbcdn.net/v/t1.0-9/59494647_735210583543127_786931514360201216_n.jpg?_nc_cat=108&_nc_ht=scontent-icn1-1.xx&oh=579238f85d5eaf6b1403e2ffc4db863c&oe=5D774A4F" alt="">
                        </li>
                        <li class="slide slide1">
                            <img src="https://scontent-icn1-1.xx.fbcdn.net/v/t1.0-9/58749278_734642853599900_925118698379804672_n.jpg?_nc_cat=102&_nc_ht=scontent-icn1-1.xx&oh=563d15b96ffc3861ca4b90f7ee90b852&oe=5D574533" alt="">
                        </li>
                        <!-- 여기까지 수정 -->
                    </ul>

                    <div id="slider-nav">
                        <div id="slider-nav-prv">&#10094;</div>
                        <div id="slider-nav-nxt">&#10095;</div>
                        <div id="slider-nav-dot-con">
                            <!-- 이 부분을 자신의 상황에 맞게 수정 -->
                            <!-- 복사본을 제외한 슬라이드 개수가 5개라면 span은 5개-->
                            <!-- id는 반드시 nav-dot1 부터 시작해서 nva-dot2 nav-dot3 ... nav-dot5와 같은 형태로 작성해야 함 -->
                            <span class="slider-nav-dot" style="background:white" id="nav-dot1"></span>
                            <span class="slider-nav-dot" id="nav-dot2"></span>
                            <span class="slider-nav-dot" id="nav-dot3"></span>
                            <span class="slider-nav-dot" id="nav-dot4"></span>
                            <span class="slider-nav-dot" id="nav-dot5"></span>
                            <!-- 여기까지 수정 -->
                        </div>
                    </div>
                </div>
                
            </li>
            <li id="day15">15일 축제일정</li>
            <li id="day1617">16~17일 축제일정</li>
        </ul>
    </div>


</body>

</html>

<style>
    .btn-lg {
        padding: 100px 100px;
        margin-right: 30px;
        font-size: 30px;
    }

    .btn {
        text-align: center;
    }

    #day14,
    #day15,
    #day1617 {
        text-align: center;
        font-size: 20px;
        border: 1px solid #aaa;
        height: 400px;
        line-height: 100px;
        margin-bottom: 100px;
    }

    dl,
    ul,
    ol,
    li,
    p {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    #slider {
        position: relative;
        overflow: hidden;
    }

    #slider .slides {
        margin: 0;
        padding: 0;
    }

    #slider .slide {
        float: left;
        list-style-type: none;
    }

    #slider-nav {
        position: absolute;
        height: 2em;
        bottom: 0em;
        width: 100%;
        cursor: default;
    }

    #slider-nav-prv {
        height: 1.5em;
        line-height: 1.5em;
        width: 1.5em;
        text-align: center;
        position: absolute;
        left: 0.5em;
        background: white;
    }

    #slider-nav-nxt {
        height: 1.5em;
        line-height: 1.5em;
        width: 1.5em;
        text-align: center;
        position: absolute;
        right: 0.5em;
        background: white;
    }

    #slider-nav-prv:hover,
    #slider-nav-nxt:hover {
        color: white;
        background: black;
    }

    #slider-nav-dot-con {
        text-align: center;
    }

    .slider-nav-dot {
        list-style: none;
        border: 0.15em solid white;
        box-sizing: border-box;
        width: 1em;
        height: 1em;
        display: inline-block;
        border-radius: 50%;
        vertical-align: middle;
    }

    .slider-nav-dot:hover {
        background: white;
    }

    img{
        height: 250px;
    }    
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        // Add smooth scrolling to all links
        $("a").on('click', function (event) {

            // Make sure this.hash has a value before overriding default behavior
            if (this.hash !== "") {
                // Prevent default anchor click behavior
                event.preventDefault();

                // Store hash
                var hash = this.hash;

                // Using jQuery's animate() method to add smooth page scroll
                // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
                $('html, body').animate({
                    scrollTop: $(hash).offset().top
                }, 800, function () {

                    // Add hash (#) to URL when done scrolling (default click behavior)
                    window.location.hash = hash;
                });
            } // End if
        });
    });


    'use strict';

    $(function () {

        //이 부분을 자신의 상황에 맞게 수정
        var width = 250; //슬라이드 한 개의 폭
        var height = 250; //슬라이드 높이
        var animationSpeed = 1000; //화면전환 속도
        var pause = 3000; //화면전환 후 일시 정지 속도
        var totalSlides = 7; //복제 슬라이드를 포함한 전체 슬라이드 개수

        var currentSlide = 2; //이 항목은 수정하지 않음
        var interval;
        var action;
        var dotNum;
        var dMinusC;

        //cache DOM elements
        var $slideCon = $('#slider');
        var $slideUl = $('.slides');
        var $slides = $('.slide');
        var $dots = $('.slider-nav-dot');
        var $sliderNavPrv = $('#slider-nav-prv');
        var $sliderNavNxt = $('#slider-nav-nxt');

        function initSlider() {
            $slideCon.css('width', width);
            $slideCon.css('height', height);
            $slideUl.css('margin-left', -width);
            $slideUl.css('width', totalSlides * width);
            $slides.css('width', width);
            $slides.css('height', height);
        }

        function startSlider(action, dotNum) {

            if (action == 'prv') {
                $slideUl.animate({ 'margin-left': '+=' + width }, animationSpeed, function () {
                    if (--currentSlide === 1) {
                        currentSlide = $slides.length - 1;
                        $slideUl.css('margin-left', -($slides.length - 2) * width);
                    } else { }

                    for (var i = 0; i < $dots.length; i++) { $dots[i].style.background = ""; }
                    $dots[currentSlide - 2].style.background = "white";
                });
            } else if (action == 'nxt') {
                $slideUl.animate({ 'margin-left': '-=' + width }, animationSpeed, function () {
                    if (++currentSlide === $slides.length) {
                        currentSlide = 2;
                        $slideUl.css('margin-left', -width);
                    } else { }

                    for (var i = 0; i < $dots.length; i++) { $dots[i].style.background = ""; }
                    $dots[currentSlide - 2].style.background = "white";
                });
            } else if (action == 'dot') {
                dMinusC = dotNum - currentSlide;
                currentSlide = dotNum;

                for (var i = 0; i < $dots.length; i++) { $dots[i].style.background = ""; }
                $dots[currentSlide - 2].style.background = "white";

                $slideUl.animate({ 'margin-left': '-=' + (dMinusC * width) }, animationSpeed);

            } else {
                // setInterval(function,milliseconds)
                // 지정한 시간에 한번씩 함수를 실행
                // 3초 마다 $slideUl 의 왼쪽 마진을 -width 함. 에니메이션 속도는 1초.
                interval = setInterval(function () {

                    //.animate( CSS properties [, duration ] [, complete ] )
                    $slideUl.animate({ 'margin-left': '-=' + width }, animationSpeed, function () {
                        if (++currentSlide === $slides.length) { // $slides.length == 7
                            currentSlide = 2;
                            $slideUl.css('margin-left', -width);
                        }

                        for (var i = 0; i < $dots.length; i++) { $dots[i].style.background = ""; }
                        $dots[currentSlide - 2].style.background = "white";
                    });

                }, pause);
            }

        }


        function pauseSlider() {
            clearInterval(interval);
        }

        function prvSlide() {
            startSlider('prv');
        }

        function nxtSlide() {
            startSlider('nxt');
        }

        function dotSelected() {
            dotNum = $(this).attr('id');
            dotNum = parseInt(dotNum.substring(7)) + 1;
            startSlider('dot', dotNum);
        }


        $slideUl
            .on('mouseenter', pauseSlider)
            .on('mouseleave', startSlider);

        $sliderNavPrv
            .on('click', prvSlide)
            .on('mouseenter', pauseSlider)
            .on('mouseleave', startSlider);

        $sliderNavNxt
            .on('click', nxtSlide)
            .on('mouseenter', pauseSlider)
            .on('mouseleave', startSlider);

        $dots
            .on('click', dotSelected)
            .on('mouseenter', pauseSlider)
            .on('mouseleave', startSlider);


        initSlider();
        startSlider();

    });


</script>